include CHANGES.rst
include CITATION.rst
include photutils/CITATION.rst
include LICENSE.rst
include README.rst
include pyproject.toml
include setup.cfg

recursive-include photutils *.pyx *.pxd *.c
recursive-include docs *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
