version: 2

jobs:
  build:
    docker:
      - image: quay.io/pypa/manylinux1_i686
    steps:
      - checkout
      - run:
          name: Install dependencies for Python 3.8
          command: /opt/python/cp38-cp38/bin/pip install tox
      - run:
          name: Run tests for Python 3.8
          command: /opt/python/cp38-cp38/bin/python -m tox -e py38-numpy120-test
