name: Cron Tests

on:
  schedule:
    # run at 6am UTC on Tue-Fri (complete tests are run every Monday)
    - cron: '0 6 * * 2-5'

env:
  TOXARGS: '-v'

jobs:
  cron-test:
    name: ${{ matrix.os }}, ${{ matrix.tox_env }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            python: '3.9'
            tox_env: 'linkcheck'
          - os: ubuntu-latest
            python: '3.9'
            tox_env: 'py39-test-alldeps-devdeps'

    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install base dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox
    - name: Print Python, pip, setuptools, and tox versions
      run: |
        python -c "import sys; print(f'Python {sys.version}')"
        python -c "import pip; print(f'pip {pip.__version__}')"
        python -c "import setuptools; print(f'setuptools {setuptools.__version__}')"
        python -c "import tox; print(f'tox {tox.__version__}')"
    - name: Run tests
      if: "! matrix.use_remote_data"
      run: tox -e ${{ matrix.tox_env }} -- ${{ matrix.toxposargs }}
    - name: Upload coverage to codecov
      if: "contains(matrix.tox_env, '-cov')"
      uses: codecov/codecov-action@v2
      with:
        file: ./coverage.xml
