name: Cron Tests

on:
  schedule:
    # run at 6am UTC on Tue-Fri (complete tests are run every Monday)
    - cron: '0 6 * * 2-5'

env:
  SETUP_XVFB: True  # avoid issues if mpl tries to open a GUI window
  TOXARGS: '-v'

jobs:
  cron-test:
    name: ${{ matrix.os }}, ${{ matrix.tox_env }}
    runs-on: ${{ matrix.os }}
    if: "!(contains(github.event.head_commit.message, '[skip ci]') || contains(github.event.head_commit.message, '[ci skip]'))"
    strategy:
      matrix:
        name: [
          'ubuntu-py38-test-alldeps-devdeps',
        ]
        include:
          - name: 'ubuntu-py38-test-alldeps-devdeps'
            os: ubuntu-latest
            python: '3.8'
            tox_env: 'py38-test-test-alldeps-devdeps'

    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install base dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox coverage
    - name: Print Python, pip, setuptools, and tox versions
      run: |
        python -c "import sys; print(f'Python {sys.version}')"
        python -c "import pip; print(f'pip {pip.__version__}')"
        python -c "import setuptools; print(f'setuptools {setuptools.__version__}')"
        python -c "import tox; print(f'tox {tox.__version__}')"

    - name: Run tests
      if: "! matrix.use_remote_data"
      run: |
        tox -e ${{ matrix.tox_env }}

    - name: Run tests with remote data
      if: "matrix.use_remote_data"
      env:
        TOXPOSARGS: '--remote-data=any'
      run: |
        tox -e ${{ matrix.tox_env }}

    - name: Upload coverage to codecov
      if: "endsWith(matrix.tox_env, '-cov')"
      uses: codecov/codecov-action@v1.0.13
      with:
        file: ./coverage.xml
